//src/scss/base/_utils.scss
@use '../helpers/index' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visible-hidden {
  @include visually-hidden;
}

.hidden-mobile-xs {
  @include mobile-xs {
    display: none !important;
  }
}

.visible-mobile-xs {
  @include mobile-xs-above {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

